@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,700&display=swap');
body {
    font-family: 'Raleway', sans-serif;
}

.spacer {
    flex: 1;
}

nav.navbar {
    padding: 30px 0;
}

a.navbar-brand {
    padding-left: 80px;
}

a.navbar-brand img {
    width: auto;
}

.fancy-wallpaper {
    /* outline: 1px solid brown; */
    padding: 160px 0px;
    background-image: url(../assets/images/taxi.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 92%;
    display: flex;
    justify-content: flex-end;
}

.fancy-box {
    /* outline: 1px solid red; */
    background-color: #F7B617;
    margin-left: auto;
    width: fit-content;
    height: fit-content;
    color: #fff;
    padding: 25px 40px;
}

.fancy-box h2 {
    font-weight: 600;
    font-size: 40px;
}

.fancy-box h3 {
    margin-top: 30px;
    font-weight: 600;
}

.fancy-box button {
    border-radius: 5px;
    border: none;
    padding: 8px 14px;
    background: #fff;
    font-weight: 600;
    margin: 20px 0;
    outline: none;
    font-size: 18px;
}

.fancy-line-divider {
    padding: 0 !important;
    margin: 0rem 0 1.5rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fancy-line-divider div {
    padding: 0 !important;
}

.fancy-line-divider .fancy-icon-star {
    color: #fff;
    font-size: 18px;
}

.fancy-line-divider .fancy-icon-star p {
    margin-top: 0;
    margin-bottom: 0rem;
    padding: 0 50px;
}

.fancy-line-divider .line {
    width: 100%;
    max-width: 10rem;
    height: .1rem;
    background-color: #fff;
    border-radius: 1rem;
    border-color: #fff;
}

.fancy-line-divider .line:first-child {
    margin-right: 1rem;
}

.fancy-line-divider .line:last-child {
    margin-left: 1rem;
}

.col-md-12 {
    background: #F7B617;
}

.fancy-section-2 {
    padding: 40px 0;
}

.fancy-img {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    text-align: center;
}

.fancy-img img {
    padding: 40px 0;
}

.fancy-section {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
}

.fancy-section label {
    font-size: 30px;
    color: #fff;
    font-weight: 600;
    margin-top: 45px;
}

.fancy-section p {
    width: 60%;
    font-size: 23px;
    color: #fff;
}

.fancy-wallpaper-2 {
    padding: 200px 0px;
    background-image: url(../assets/images/conduce.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 50%;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.fancy-drive {
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.fancy-drive label {
    margin-top: 80px;
    font-size: 28px;
}

.fancy-drive p {
    font-size: 22px;
}

.fancy-drive button {
    border-radius: 5px;
    border: none;
    padding: 8px 14px;
    background: #F7B617;
    color: #fff;
    font-weight: 600;
    margin: 20px 0;
    outline: none;
    font-size: 18px;
}

.fancy-section-tarifas {
    outline: 1px solid brown;
    padding: 50px 0 20px 0;
    background: #F7B617;
}

.fancy-section-tarifas label {
    font-size: 30px;
    color: #fff;
    font-weight: 600;
    margin-top: 65px;
}

.fancy-section-tarifas p {
    font-size: 20px;
    color: #fff;
}

.fancy-section-tarifas div {
    padding-bottom: 25px;
}

.fancy-section-tarifas div input {
    width: 55%;
    outline: none;
    border: 1px solid #fff;
    padding: 10px 10px;
    border-radius: 8px;
    background: #F7B617;
    caret-color: #fff;
    color: #fff;
    margin: 0 20px;
}

.fancy-section-tarifas div input::placeholder {
    color: #fff;
}

.fancy-section-tarifas div button {
    border-radius: 5px;
    border: none;
    padding: 8px 14px;
    background: #fff;
    font-weight: 600;
    margin: 20px 0;
    outline: none;
    font-size: 18px;
}

iframe {
    padding: 10px !important;
    border: 1px solid #fff !important;
    width: 550px;
    height: 500px;
}

/* Styles for footer */

.fancy-footer {
    background-color: #2B2B2B;
    color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 10px;
}

[alt="logoBlanco"] {
    padding-left: 6.5rem;
    width: 15rem;
    margin-top: 1.5rem
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #fff;
    margin-left: 6.5rem;
}

.fancy-list ul {
    padding: 0;
}

.fancy-list ul li {
    list-style: none;
    margin-bottom: 2rem;
}

.fancy-list ul li a {
    text-decoration: none;
    color: #FFFFFF;
}

.fancy-icon-white {
    display: inline-block;
    margin-bottom: 3rem;
    margin-top: auto;
}

.fancy-icon-white i {
    padding-right: 1rem;
}

.fancy-icon-black {
    margin-top: auto;
}

.fancy-icon-black img {
    display: inline-block;
    /* width: 15.5rem;
        height: 5.4rem; */
    margin-bottom: 3rem;
    margin-left: 1rem;
}

.footer-span span {
    margin-left: 6.5rem;
}

@media (max-width: 1149px) {
    iframe {
        width: 450px;
        height: 400px;
    }
}

@media (max-width: 991px) {
    a.navbar-brand {
        display: flex;
        margin-right: auto;
        padding-left: 30px;
    }
    .fancy-box h2 {
        font-weight: 600;
        font-size: 30px;
    }
    .fancy-box h3 {
        margin-top: 30px;
        font-weight: 600;
    }
    .fancy-box button {
        border-radius: 5px;
        border: none;
        padding: 5px 15px;
        background: #fff;
        font-weight: 600;
        margin: 20px 0;
        font-size: 15px;
        outline: none;
    }
    .fancy-img {
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        text-align: center;
    }
    .fancy-img img {
        padding: 40px 0;
        width: inherit;
    }
    .fancy-section {
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        border-right: 1px solid #fff;
    }
    .fancy-section label {
        font-size: 30px;
        color: #fff;
        font-weight: 600;
        margin-top: 45px;
    }
    .fancy-section p {
        width: 100%;
        font-size: 20px;
    }
    .fancy-section-tarifas div input {
        width: 80%;
    }
    iframe {
        width: 350px;
        height: 300px;
    }

    /* Styles for footer */
    .container-col {
        position: relative;
        /* left: 4%; */
        margin-bottom: 5%;
        margin-top: 5%;
    }
    [alt="logoBlanco"] {
        padding-left: 0rem;
        width: 8rem;
        margin-top: 1.5rem;
    }
    hr {
        margin-left: 0rem;
    }
    .fancy-list {
        margin-right: 0rem;
    }
    .fancy-icon-white {
        display: inline-block;
        margin-bottom: 3rem;
        margin-top: 0rem;
    }
    .fancy-icon-black {
        margin-top: 0rem;
    }
    .fancy-icon-black img {
        display: block;
        /* width: 18rem;
        height: 5.4rem; */
        margin-bottom: 2rem;
        margin-left: 0rem;
    }
    
}

@media (max-width: 768px) {
    .spacer {
        flex: none;
    }
    nav.navbar {
        padding: 10px;
    }
    button.navbar-toggler {
        outline: none;
    }
    a.navbar-brand img {
        width: auto;
        /* display: none; */
    }
    .fancy-box-mobile {
        visibility: hidden;
    }
    .fancy-box button {
        padding: 8px 14px;
        font-size: 18px;
    }
    .fancy-box h3 {
        font-size: 39px;
    }
    .fancy-section-2 {
        padding: 40px 20px 0 20px;
    }
    .fancy-img-2 {
        border: 1px solid #fff;
        text-align: center;
    }
    .fancy-img-2 p {
        font-size: 28px;
        color: #fff;
        font-weight: 600;
    }
    .fancy-img-2 img {
        padding: 0px 0px 40px;
        width: 300px;
    }
    .fancy-section {
        border: none;
        padding: 0;
    }
    .fancy-section label {
        font-size: 20px;
        color: #fff;
        border: none;
    }
    .fancy-section-tarifas div input {
        width: 80%;
    }
    .fancy-btn {
        text-align: center;
    }
    iframe {
        width: 450px;
        height: 400px;
    }
    .footer-span span {
        margin-left: 0;
    }
}